.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.105957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.911000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.936861;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1595.082758px;}
._f{margin-left:-833.388871px;}
._2{margin-left:-812.400000px;}
._14{margin-left:-5.709995px;}
._0{margin-left:-1.460474px;}
._3{width:65.760000px;}
._d{width:68.392000px;}
._a{width:77.928000px;}
._4{width:120.880000px;}
._11{width:222.754913px;}
._b{width:235.360000px;}
._5{width:249.808000px;}
._9{width:264.256000px;}
._10{width:374.535906px;}
._12{width:391.435907px;}
._6{width:396.512000px;}
._7{width:480.848000px;}
._e{width:566.160465px;}
._8{width:582.320000px;}
._c{width:620.848000px;}
._13{width:1273.156537px;}
.fc1{color:rgb(91,140,42);}
.fc2{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs8{font-size:48.000000px;}
.fsa{font-size:52.000000px;}
.fs4{font-size:56.000000px;}
.fs7{font-size:60.000000px;}
.fs6{font-size:68.000000px;}
.fs5{font-size:72.000000px;}
.fs9{font-size:80.000000px;}
.fs1{font-size:92.000000px;}
.fs2{font-size:144.000000px;}
.fs3{font-size:200.000000px;}
.fs0{font-size:292.000000px;}
.fsb{font-size:384.000000px;}
.y0{bottom:0.000000px;}
.y69{bottom:6.142380px;}
.y63{bottom:6.143326px;}
.y21{bottom:20.293323px;}
.yf{bottom:20.756851px;}
.y73{bottom:20.919537px;}
.y71{bottom:21.269939px;}
.y54{bottom:21.576312px;}
.y53{bottom:22.118609px;}
.y81{bottom:22.516003px;}
.yc{bottom:23.436764px;}
.y56{bottom:24.361743px;}
.y7b{bottom:26.456551px;}
.y65{bottom:27.742382px;}
.y62{bottom:27.743328px;}
.y1a{bottom:28.471115px;}
.y58{bottom:28.798755px;}
.y88{bottom:32.577820px;}
.y82{bottom:35.785286px;}
.y5a{bottom:37.196399px;}
.ye{bottom:37.556850px;}
.y50{bottom:40.093155px;}
.yb{bottom:40.236765px;}
.y72{bottom:42.519539px;}
.y70{bottom:42.869942px;}
.y80{bottom:44.116005px;}
.y64{bottom:49.342384px;}
.y61{bottom:49.343330px;}
.y19{bottom:50.071121px;}
.yd{bottom:54.356852px;}
.y4f{bottom:56.893143px;}
.y3{bottom:57.129539px;}
.y87{bottom:70.177811px;}
.y18{bottom:71.671135px;}
.y2{bottom:84.729538px;}
.y29{bottom:92.458141px;}
.y17{bottom:93.271133px;}
.y47{bottom:103.746307px;}
.y4e{bottom:107.293106px;}
.y86{bottom:107.777813px;}
.y6{bottom:111.358368px;}
.y28{bottom:114.058144px;}
.y16{bottom:114.871132px;}
.y26{bottom:115.808224px;}
.y41{bottom:134.313238px;}
.y43{bottom:134.313360px;}
.y2f{bottom:135.146217px;}
.y27{bottom:135.658146px;}
.y15{bottom:136.471130px;}
.y4d{bottom:140.893082px;}
.y1{bottom:142.139397px;}
.y3c{bottom:144.456383px;}
.y85{bottom:145.377815px;}
.y40{bottom:150.368483px;}
.y42{bottom:150.368605px;}
.y5{bottom:154.558380px;}
.y2e{bottom:156.726280px;}
.y14{bottom:158.071133px;}
.y3f{bottom:165.470551px;}
.y38{bottom:167.466179px;}
.y46{bottom:167.647247px;}
.y3b{bottom:168.001139px;}
.y52{bottom:171.437259px;}
.y51{bottom:171.437503px;}
.y77{bottom:172.088528px;}
.y7a{bottom:172.088848px;}
.y60{bottom:174.207424px;}
.y4c{bottom:174.493057px;}
.y68{bottom:175.912868px;}
.y75{bottom:175.913647px;}
.y20{bottom:176.240970px;}
.y1f{bottom:176.520495px;}
.y5d{bottom:176.959393px;}
.y7d{bottom:177.421520px;}
.y7f{bottom:177.422466px;}
.y13{bottom:179.671135px;}
.y1d{bottom:179.929276px;}
.y37{bottom:181.866180px;}
.y6f{bottom:182.717510px;}
.y6b{bottom:183.442547px;}
.y6d{bottom:185.683559px;}
.y3e{bottom:189.015305px;}
.y45{bottom:190.390738px;}
.y83{bottom:190.459480px;}
.y78{bottom:193.688210px;}
.y76{bottom:193.688530px;}
.y79{bottom:193.688850px;}
.y5f{bottom:194.607422px;}
.y36{bottom:196.266182px;}
.y67{bottom:196.312866px;}
.y5c{bottom:197.359390px;}
.y74{bottom:197.513649px;}
.y4{bottom:197.758385px;}
.y7c{bottom:199.021523px;}
.y7e{bottom:199.022469px;}
.y6e{bottom:204.317513px;}
.y6a{bottom:205.042549px;}
.y44{bottom:206.445982px;}
.y6c{bottom:207.283562px;}
.y4b{bottom:208.093063px;}
.y3d{bottom:210.615305px;}
.y35{bottom:210.666180px;}
.y5e{bottom:215.007419px;}
.y66{bottom:216.712863px;}
.y5b{bottom:217.759387px;}
.y1c{bottom:223.129280px;}
.y34{bottom:225.066179px;}
.y59{bottom:225.940494px;}
.y25{bottom:229.612625px;}
.y31{bottom:229.718681px;}
.y33{bottom:229.730659px;}
.y3a{bottom:233.192223px;}
.y55{bottom:235.172778px;}
.y2d{bottom:235.946220px;}
.y57{bottom:238.008060px;}
.y12{bottom:241.529396px;}
.y23{bottom:241.660892px;}
.y4a{bottom:241.693069px;}
.y24{bottom:251.212627px;}
.y10{bottom:252.329399px;}
.y2c{bottom:253.946220px;}
.y84{bottom:255.511028px;}
.y11{bottom:263.129398px;}
.y1b{bottom:266.329285px;}
.y30{bottom:266.510063px;}
.y32{bottom:266.522041px;}
.y39{bottom:269.983604px;}
.y2b{bottom:271.946224px;}
.y49{bottom:275.293072px;}
.y2a{bottom:289.946224px;}
.ya{bottom:339.748981px;}
.y9{bottom:356.548981px;}
.y1e{bottom:357.098328px;}
.y48{bottom:359.196751px;}
.y7{bottom:360.431004px;}
.y22{bottom:367.095802px;}
.y8{bottom:373.348982px;}
.hc{height:34.945312px;}
.hf{height:37.857422px;}
.h5{height:40.376000px;}
.h11{height:41.880222px;}
.h9{height:43.681641px;}
.h8{height:49.028000px;}
.h12{height:50.524000px;}
.hb{height:51.912000px;}
.hd{height:52.417969px;}
.h6{height:53.496000px;}
.h7{height:53.846000px;}
.he{height:58.242188px;}
.h2{height:67.832031px;}
.h3{height:103.824000px;}
.ha{height:104.835938px;}
.h4{height:147.460938px;}
.h1{height:215.292969px;}
.h10{height:283.125000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x7{left:2.818909px;}
.x53{left:4.424713px;}
.x4e{left:12.383026px;}
.xe{left:20.280319px;}
.x52{left:22.506271px;}
.xb{left:24.170212px;}
.x43{left:25.505905px;}
.x4d{left:26.936020px;}
.xd{left:28.519257px;}
.x6c{left:34.252960px;}
.x2a{left:39.023621px;}
.x4c{left:40.936020px;}
.x65{left:42.946053px;}
.x1{left:46.467529px;}
.x66{left:50.461319px;}
.xf{left:58.114128px;}
.x44{left:61.505905px;}
.x2b{left:64.523621px;}
.x22{left:65.740036px;}
.x20{left:71.290237px;}
.x2{left:79.277039px;}
.x1e{left:81.084152px;}
.x23{left:83.228523px;}
.x5{left:85.951080px;}
.x21{left:88.946960px;}
.x76{left:92.460632px;}
.x1f{left:94.988937px;}
.x4{left:100.139633px;}
.x63{left:102.906723px;}
.x3a{left:103.928196px;}
.x24{left:113.253426px;}
.xc{left:126.654037px;}
.x6{left:137.605255px;}
.x3{left:140.945499px;}
.x62{left:142.660835px;}
.x47{left:151.531837px;}
.x4b{left:164.034027px;}
.x51{left:172.573784px;}
.x67{left:183.275635px;}
.x57{left:184.886818px;}
.x4a{left:186.203148px;}
.x6e{left:187.969696px;}
.x58{left:193.931511px;}
.x42{left:205.682205px;}
.x50{left:213.989876px;}
.x41{left:216.288422px;}
.x46{left:221.834518px;}
.x4f{left:225.593987px;}
.x6d{left:227.661476px;}
.x25{left:229.648418px;}
.x39{left:231.939945px;}
.x38{left:240.564943px;}
.x5e{left:242.756927px;}
.x75{left:252.250015px;}
.x31{left:264.013977px;}
.x6b{left:271.494110px;}
.x16{left:291.032234px;}
.x15{left:293.066162px;}
.x13{left:301.885468px;}
.x12{left:306.985878px;}
.x14{left:310.102676px;}
.x32{left:315.082672px;}
.x17{left:325.006218px;}
.x61{left:331.186974px;}
.x71{left:351.560608px;}
.x2c{left:376.013824px;}
.x34{left:378.424469px;}
.x5c{left:384.388206px;}
.x2d{left:386.513824px;}
.x35{left:388.924469px;}
.x33{left:394.490173px;}
.x5b{left:395.781013px;}
.x3e{left:397.677692px;}
.x72{left:402.703552px;}
.x74{left:406.572861px;}
.x5a{left:412.314930px;}
.x5f{left:416.844078px;}
.x2e{left:422.931641px;}
.x3f{left:424.802689px;}
.x3b{left:427.571846px;}
.x59{left:429.014061px;}
.x6f{left:436.284035px;}
.x3c{left:439.259346px;}
.x8{left:450.521225px;}
.x28{left:455.447876px;}
.x29{left:460.031555px;}
.x64{left:461.042542px;}
.x49{left:462.537552px;}
.x6a{left:471.440948px;}
.x9{left:473.775162px;}
.x1b{left:496.097740px;}
.x1c{left:499.215866px;}
.x1a{left:502.569878px;}
.x18{left:511.355881px;}
.x19{left:521.810829px;}
.x10{left:524.618813px;}
.x54{left:532.792900px;}
.x27{left:537.561073px;}
.x48{left:540.981476px;}
.xa{left:544.746941px;}
.x26{left:546.947132px;}
.x5d{left:552.683525px;}
.x11{left:553.968296px;}
.x1d{left:558.463371px;}
.x56{left:561.497894px;}
.x40{left:569.531469px;}
.x60{left:570.739853px;}
.x68{left:584.179798px;}
.x45{left:590.010918px;}
.x55{left:593.118561px;}
.x69{left:599.296455px;}
.x73{left:601.281109px;}
.x3d{left:602.615616px;}
.x70{left:603.967079px;}
.x2f{left:610.700928px;}
.x36{left:613.915527px;}
.x30{left:661.769653px;}
.x37{left:664.984253px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-2126.777010pt;}
._f{margin-left:-1111.185161pt;}
._2{margin-left:-1083.200000pt;}
._14{margin-left:-7.613326pt;}
._0{margin-left:-1.947299pt;}
._3{width:87.680000pt;}
._d{width:91.189333pt;}
._a{width:103.904000pt;}
._4{width:161.173333pt;}
._11{width:297.006551pt;}
._b{width:313.813333pt;}
._5{width:333.077333pt;}
._9{width:352.341333pt;}
._10{width:499.381208pt;}
._12{width:521.914542pt;}
._6{width:528.682667pt;}
._7{width:641.130667pt;}
._e{width:754.880620pt;}
._8{width:776.426667pt;}
._c{width:827.797333pt;}
._13{width:1697.542050pt;}
.fs8{font-size:64.000000pt;}
.fsa{font-size:69.333333pt;}
.fs4{font-size:74.666667pt;}
.fs7{font-size:80.000000pt;}
.fs6{font-size:90.666667pt;}
.fs5{font-size:96.000000pt;}
.fs9{font-size:106.666667pt;}
.fs1{font-size:122.666667pt;}
.fs2{font-size:192.000000pt;}
.fs3{font-size:266.666667pt;}
.fs0{font-size:389.333333pt;}
.fsb{font-size:512.000000pt;}
.y0{bottom:0.000000pt;}
.y69{bottom:8.189840pt;}
.y63{bottom:8.191101pt;}
.y21{bottom:27.057763pt;}
.yf{bottom:27.675802pt;}
.y73{bottom:27.892715pt;}
.y71{bottom:28.359919pt;}
.y54{bottom:28.768416pt;}
.y53{bottom:29.491479pt;}
.y81{bottom:30.021337pt;}
.yc{bottom:31.249018pt;}
.y56{bottom:32.482324pt;}
.y7b{bottom:35.275401pt;}
.y65{bottom:36.989843pt;}
.y62{bottom:36.991104pt;}
.y1a{bottom:37.961487pt;}
.y58{bottom:38.398340pt;}
.y88{bottom:43.437093pt;}
.y82{bottom:47.713715pt;}
.y5a{bottom:49.595198pt;}
.ye{bottom:50.075801pt;}
.y50{bottom:53.457540pt;}
.yb{bottom:53.649020pt;}
.y72{bottom:56.692719pt;}
.y70{bottom:57.159922pt;}
.y80{bottom:58.821340pt;}
.y64{bottom:65.789846pt;}
.y61{bottom:65.791107pt;}
.y19{bottom:66.761495pt;}
.yd{bottom:72.475802pt;}
.y4f{bottom:75.857524pt;}
.y3{bottom:76.172719pt;}
.y87{bottom:93.570414pt;}
.y18{bottom:95.561513pt;}
.y2{bottom:112.972717pt;}
.y29{bottom:123.277522pt;}
.y17{bottom:124.361511pt;}
.y47{bottom:138.328410pt;}
.y4e{bottom:143.057475pt;}
.y86{bottom:143.703751pt;}
.y6{bottom:148.477824pt;}
.y28{bottom:152.077525pt;}
.y16{bottom:153.161509pt;}
.y26{bottom:154.410965pt;}
.y41{bottom:179.084318pt;}
.y43{bottom:179.084480pt;}
.y2f{bottom:180.194956pt;}
.y27{bottom:180.877528pt;}
.y15{bottom:181.961507pt;}
.y4d{bottom:187.857442pt;}
.y1{bottom:189.519196pt;}
.y3c{bottom:192.608510pt;}
.y85{bottom:193.837087pt;}
.y40{bottom:200.491310pt;}
.y42{bottom:200.491473pt;}
.y5{bottom:206.077840pt;}
.y2e{bottom:208.968374pt;}
.y14{bottom:210.761510pt;}
.y3f{bottom:220.627401pt;}
.y38{bottom:223.288239pt;}
.y46{bottom:223.529663pt;}
.y3b{bottom:224.001518pt;}
.y52{bottom:228.583012pt;}
.y51{bottom:228.583337pt;}
.y77{bottom:229.451370pt;}
.y7a{bottom:229.451797pt;}
.y60{bottom:232.276566pt;}
.y4c{bottom:232.657410pt;}
.y68{bottom:234.550491pt;}
.y75{bottom:234.551529pt;}
.y20{bottom:234.987960pt;}
.y1f{bottom:235.360661pt;}
.y5d{bottom:235.945857pt;}
.y7d{bottom:236.562027pt;}
.y7f{bottom:236.563288pt;}
.y13{bottom:239.561513pt;}
.y1d{bottom:239.905701pt;}
.y37{bottom:242.488241pt;}
.y6f{bottom:243.623347pt;}
.y6b{bottom:244.590062pt;}
.y6d{bottom:247.578079pt;}
.y3e{bottom:252.020406pt;}
.y45{bottom:253.854317pt;}
.y83{bottom:253.945974pt;}
.y78{bottom:258.250946pt;}
.y76{bottom:258.251373pt;}
.y79{bottom:258.251801pt;}
.y5f{bottom:259.476562pt;}
.y36{bottom:261.688243pt;}
.y67{bottom:261.750488pt;}
.y5c{bottom:263.145854pt;}
.y74{bottom:263.351532pt;}
.y4{bottom:263.677846pt;}
.y7c{bottom:265.362030pt;}
.y7e{bottom:265.363291pt;}
.y6e{bottom:272.423350pt;}
.y6a{bottom:273.390066pt;}
.y44{bottom:275.261309pt;}
.y6c{bottom:276.378082pt;}
.y4b{bottom:277.457418pt;}
.y3d{bottom:280.820407pt;}
.y35{bottom:280.888240pt;}
.y5e{bottom:286.676558pt;}
.y66{bottom:288.950484pt;}
.y5b{bottom:290.345849pt;}
.y1c{bottom:297.505707pt;}
.y34{bottom:300.088239pt;}
.y59{bottom:301.253991pt;}
.y25{bottom:306.150167pt;}
.y31{bottom:306.291575pt;}
.y33{bottom:306.307546pt;}
.y3a{bottom:310.922963pt;}
.y55{bottom:313.563704pt;}
.y2d{bottom:314.594961pt;}
.y57{bottom:317.344079pt;}
.y12{bottom:322.039195pt;}
.y23{bottom:322.214523pt;}
.y4a{bottom:322.257426pt;}
.y24{bottom:334.950170pt;}
.y10{bottom:336.439199pt;}
.y2c{bottom:338.594961pt;}
.y84{bottom:340.681371pt;}
.y11{bottom:350.839198pt;}
.y1b{bottom:355.105713pt;}
.y30{bottom:355.346751pt;}
.y32{bottom:355.362722pt;}
.y39{bottom:359.978139pt;}
.y2b{bottom:362.594966pt;}
.y49{bottom:367.057429pt;}
.y2a{bottom:386.594966pt;}
.ya{bottom:452.998642pt;}
.y9{bottom:475.398641pt;}
.y1e{bottom:476.131104pt;}
.y48{bottom:478.929001pt;}
.y7{bottom:480.574671pt;}
.y22{bottom:489.461070pt;}
.y8{bottom:497.798642pt;}
.hc{height:46.593750pt;}
.hf{height:50.476562pt;}
.h5{height:53.834667pt;}
.h11{height:55.840296pt;}
.h9{height:58.242188pt;}
.h8{height:65.370667pt;}
.h12{height:67.365333pt;}
.hb{height:69.216000pt;}
.hd{height:69.890625pt;}
.h6{height:71.328000pt;}
.h7{height:71.794667pt;}
.he{height:77.656250pt;}
.h2{height:90.442708pt;}
.h3{height:138.432000pt;}
.ha{height:139.781250pt;}
.h4{height:196.614583pt;}
.h1{height:287.057292pt;}
.h10{height:377.500000pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x7{left:3.758545pt;}
.x53{left:5.899618pt;}
.x4e{left:16.510701pt;}
.xe{left:27.040426pt;}
.x52{left:30.008362pt;}
.xb{left:32.226949pt;}
.x43{left:34.007874pt;}
.x4d{left:35.914693pt;}
.xd{left:38.025675pt;}
.x6c{left:45.670614pt;}
.x2a{left:52.031494pt;}
.x4c{left:54.581360pt;}
.x65{left:57.261403pt;}
.x1{left:61.956706pt;}
.x66{left:67.281759pt;}
.xf{left:77.485504pt;}
.x44{left:82.007874pt;}
.x2b{left:86.031494pt;}
.x22{left:87.653381pt;}
.x20{left:95.053650pt;}
.x2{left:105.702718pt;}
.x1e{left:108.112203pt;}
.x23{left:110.971364pt;}
.x5{left:114.601440pt;}
.x21{left:118.595947pt;}
.x76{left:123.280843pt;}
.x1f{left:126.651917pt;}
.x4{left:133.519511pt;}
.x63{left:137.208964pt;}
.x3a{left:138.570928pt;}
.x24{left:151.004567pt;}
.xc{left:168.872050pt;}
.x6{left:183.473674pt;}
.x3{left:187.927333pt;}
.x62{left:190.214447pt;}
.x47{left:202.042450pt;}
.x4b{left:218.712036pt;}
.x51{left:230.098378pt;}
.x67{left:244.367513pt;}
.x57{left:246.515757pt;}
.x4a{left:248.270864pt;}
.x6e{left:250.626261pt;}
.x58{left:258.575348pt;}
.x42{left:274.242940pt;}
.x50{left:285.319834pt;}
.x41{left:288.384562pt;}
.x46{left:295.779358pt;}
.x4f{left:300.791982pt;}
.x6d{left:303.548635pt;}
.x25{left:306.197891pt;}
.x39{left:309.253260pt;}
.x38{left:320.753258pt;}
.x5e{left:323.675903pt;}
.x75{left:336.333354pt;}
.x31{left:352.018636pt;}
.x6b{left:361.992147pt;}
.x16{left:388.042979pt;}
.x15{left:390.754883pt;}
.x13{left:402.513957pt;}
.x12{left:409.314504pt;}
.x14{left:413.470235pt;}
.x32{left:420.110229pt;}
.x17{left:433.341624pt;}
.x61{left:441.582631pt;}
.x71{left:468.747477pt;}
.x2c{left:501.351766pt;}
.x34{left:504.565959pt;}
.x5c{left:512.517609pt;}
.x2d{left:515.351766pt;}
.x35{left:518.565959pt;}
.x33{left:525.986898pt;}
.x5b{left:527.708018pt;}
.x3e{left:530.236923pt;}
.x72{left:536.938070pt;}
.x74{left:542.097148pt;}
.x5a{left:549.753240pt;}
.x5f{left:555.792104pt;}
.x2e{left:563.908854pt;}
.x3f{left:566.403585pt;}
.x3b{left:570.095795pt;}
.x59{left:572.018748pt;}
.x6f{left:581.712046pt;}
.x3c{left:585.679128pt;}
.x8{left:600.694967pt;}
.x28{left:607.263835pt;}
.x29{left:613.375407pt;}
.x64{left:614.723389pt;}
.x49{left:616.716736pt;}
.x6a{left:628.587931pt;}
.x9{left:631.700216pt;}
.x1b{left:661.463654pt;}
.x1c{left:665.621155pt;}
.x1a{left:670.093170pt;}
.x18{left:681.807841pt;}
.x19{left:695.747772pt;}
.x10{left:699.491750pt;}
.x54{left:710.390533pt;}
.x27{left:716.748098pt;}
.x48{left:721.308634pt;}
.xa{left:726.329254pt;}
.x26{left:729.262843pt;}
.x5d{left:736.911367pt;}
.x11{left:738.624395pt;}
.x1d{left:744.617828pt;}
.x56{left:748.663859pt;}
.x40{left:759.375292pt;}
.x60{left:760.986471pt;}
.x68{left:778.906398pt;}
.x45{left:786.681224pt;}
.x55{left:790.824748pt;}
.x69{left:799.061941pt;}
.x73{left:801.708145pt;}
.x3d{left:803.487488pt;}
.x70{left:805.289439pt;}
.x2f{left:814.267904pt;}
.x36{left:818.554036pt;}
.x30{left:882.359538pt;}
.x37{left:886.645671pt;}
}
